/* globals.css */
body {
    font-family: 'Inria Serif', serif;
    background-color: #FFFFFF; /* Fundo branco */
    margin: 0;
    padding: 0;
}

header {
    background-color: #22202A; /* Cor do cabeçalho */
    color: #E5E5EC; /* Cor do texto no cabeçalho */
    padding: 20px;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.slice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rectangle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rectangle-1 {
    display: flex;
    align-items: center;
}

.rh-logo img {
    height: 50px;
}

.for-all {
    font-size: 1.5em;
    margin-left: 10px;
    color: #E5E5EC; /* Cor do texto */
}

.gestao-recursos-humanos {
    font-size: 1em;
    margin-left: 10px;
    color: #E5E5EC; /* Cor do texto */
}

.auth-buttons {
    margin-left: auto;
}

.user-profile {
    background: none;
    border: none;
    color: #E5E5EC; /* Cor do texto */
    cursor: pointer;
    font-size: 1em;
}

.menu-item {
    margin: 0 10px;
}

.menu-item a {
    color: #E5E5EC; /* Cor do texto */
    text-decoration: none;
}

.menu-item a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF; /* Fundo branco para o conteúdo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #22202A; /* Cor do título */
}

.candidaturas-table {
    width: 100%;
    border-collapse: collapse;
}

.candidaturas-table th, .candidaturas-table td {
    border: 1px solid #7E7D85; /* Cor das bordas */
    padding: 10px;
    text-align: left;
}

.candidaturas-table th {
    background-color: #22202A; /* Cor do cabeçalho da tabela */
    color: #E5E5EC; /* Cor do texto no cabeçalho da tabela */
}

.candidaturas-table tr:nth-child(even) {
    background-color: #F5F5F5; /* Cor de fundo para linhas pares */
}

.delete-button {
    color: #967D60; /* Cor do botão de apagar */
    text-decoration: none;
}

.delete-button:hover {
    text-decoration: underline;
}

footer {
    background-color: #22202A; /* Cor do rodapé */
    color: #E5E5EC; /* Cor do texto no rodapé */
    text-align: center;
    padding: 20px;
    margin-top: auto;
}