
 :root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1280px;
  height: 832px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1280px;
  height: 76px;
  margin: 0 0 0 0;
  background: #22202a;
}
.rh-logo {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 7px;
  left: 7px;
  background: url(./assets/images/8bfce4195e7e34b0f63d51e5d6277860c396c43d.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.for-all {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 13px;
  left: 77px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47.96px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.rectangle-1 {
  position: absolute;
  width: 112px;
  height: 48px;
  top: 14px;
  left: 1154px;
  cursor: pointer;
  background: #473d3b;
  border: none;
  z-index: 5;
  border-radius: 10px;
}
.registar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 11px;
  left: 13px;
  color: #22202a;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.gestao-de-recursos-humanos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 24px;
  left: 201px;
  color: #967d60;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.rectangle-2 {
  position: relative;
  width: 1280px;
  height: 58px;
  margin: 0 0 0 0;
  background: #473d3b;
  z-index: 1;
}
.design-removebg-preview {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 38px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.design-removebg-preview-3 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 192px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.pagina-principal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 17px;
  left: 231px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.sobre-nos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 17px;
  left: 77px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.rectangle-4 {
  position: relative;
  width: 437px;
  height: 497px;
  margin: 63px 0 0 421px;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #473d3b;
  z-index: 7;
  overflow: visible auto;
  border-radius: 20px;
}
.login-5 {
  display: block;
  position: relative;
  height: 48px;
  margin: 60px 0 0 168px;
  color: #22202a;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47.96px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.email {
  display: block;
  position: relative;
  height: 29px;
  margin: 10px 0 0 25px;
  color: #000000;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.rectangle-6 {
  position: relative;
  width: 388px;
  height: 35px;
  margin: 6px 0 0 25px;
  background: #ffffff;
  border: 1px solid #473d3b;
  z-index: 10;
  border-radius: 5px;
}
.password {
  display: block;
  position: relative;
  height: 29px;
  margin: 45px 0 0 25px;
  color: #000000;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.rectangle-7 {
  position: relative;
  width: 388px;
  height: 35px;
  margin: 6px 0 0 25px;
  background: #ffffff;
  border: 1px solid #473d3b;
  z-index: 13;
  border-radius: 5px;
}
.rectangle-8 {
  position: relative;
  width: 201px;
  height: 59px;
  margin: 88px 0 0 118px;
  background: #22202a;
  z-index: 16;
  border-radius: 10px;
}
.login-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 10px;
  left: 60px;
  color: #967d60;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.rectangle-a {
  position: absolute;
  width: 1280px;
  height: 76px;
  top: 757px;
  left: 0;
  background: url(./assets/images/fc3a4b1e-a3d0-4667-af2f-c9b487541c88.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.rh-logo-b {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 765px;
  left: 554px;
  background: url(./assets/images/8bfce4195e7e34b0f63d51e5d6277860c396c43d.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.for-all-c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 771px;
  left: 625px;
  color: #967d60;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47.96px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
