
.role-buttons {
    display: flex;
    gap: 10px;
}

.role-buttons button {
        width: 110px;
        height: 50px;
        border-radius: 5px;
        background: var(--Color-3, #FFF);
        color: var(--Color-2, #22202A);
        text-align: center;
        font-family: "Inria Serif";
        font-size: 16px;
        border: #22202A;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: 1px solid #22202A; /* Borda dos botões */
}

.role-buttons button.selected {
        width: 110px;
        height: 50px;
        border-radius: 5px;
        background: var(--Color-3, #22202A);
        border: #22202A;

        color: var(--Color-2, #FFF);
        text-align: center;
        font-family: "Inria Serif";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}