
    :root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1280px;
  height: 832px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.slice {
  position: relative;
  width: 1280px;
  height: 826px;
  margin: 0 0 0 0;
  z-index: 35;
  overflow: visible auto;
}
.rectangle {
  position: relative;
  width: 1280px;
  height: 76px;
  margin: 0 0 0 0;
  background: #22202a;
}
.rh-logo {
  position: absolute;
  width: 60.878px;
  height: 61px;
  top: 7px;
  left: 7px;
  background: url(./assets/images/8bfce4195e7e34b0f63d51e5d6277860c396c43d.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.for-all {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 13px;
  left: 77px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47.96px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.human-resources-management {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 24px;
  left: 201px;
  color: #967d60;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.rectangle-1 {
  position: relative;
  width: 1280px;
  height: 58px;
  margin: 0 0 0 0;
  background: #473d3b;
  z-index: 1;
}
.design-preview {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 37px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.design-preview-2 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 192px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.design-preview-3 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 1228px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.design-preview-4 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 614px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.design-preview-5 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 405px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
}
.design-preview-6 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 861px;
  background: url(./assets/images/df65be97541df143ad301c8a6d0daba39c9bf871.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
}
.user-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 16px;
  left: 1128px;
  color: #e5e5ec;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.criar-novo-emprego {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 17px;
  left: 653px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.pagina-principal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 17px;
  left: 231px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.meus-empregos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 17px;
  left: 444px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.notificacoes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 17px;
  left: 900px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.sobre-nos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 17px;
  left: 76px;
  color: #d9d9d9;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.98px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.notificacoes-7 {
  display: block;
  position: relative;
  height: 29px;
  margin: 23px 0 0 52px;
  color: #22202a;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.rectangle-8 {
  position: relative;
  width: 1179px;
  height: 175px;
  margin: 20px 0 0 51px;
  font-size: 0px;
  background: #e5e5ec;
  z-index: 5;
  overflow: visible auto;
  border-radius: 20px;
}
.notification {
  display: block;
  position: relative;
  height: 39px;
  margin: 25px 0 0 19px;
  color: #473d3b;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.368px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.description {
  display: block;
  position: relative;
  height: 29px;
  margin: 0 0 0 20px;
  color: #473d3b;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.rectangle-9 {
  position: relative;
  width: 1179px;
  height: 175px;
  margin: 29px 0 0 51px;
  font-size: 0px;
  background: #e5e5ec;
  z-index: 12;
  overflow: visible auto;
  border-radius: 20px;
}
.notification-a {
  display: block;
  position: relative;
  height: 39px;
  margin: 25px 0 0 22px;
  color: #473d3b;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.368px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.description-b {
  display: block;
  position: relative;
  height: 29px;
  margin: 4px 0 0 22px;
  color: #473d3b;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.776px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.rh-logo-c {
  position: absolute;
  width: 60.878px;
  height: 61px;
  top: 765px;
  left: 547px;
  background: url(./assets/images/8bfce4195e7e34b0f63d51e5d6277860c396c43d.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.for-all-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 771px;
  left: 618px;
  color: #967d60;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47.96px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.rectangle-e {
  position: absolute;
  width: 1280px;
  height: 76px;
  top: -132px;
  left: 0;
  background: url(./assets/images/609dcb4b-3ef6-4e11-9981-e354fadd8d2d.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.rh-logo-f {
  position: absolute;
  width: 60.878px;
  height: 61px;
  top: -124px;
  left: 547px;
  background: url(./assets/images/8bfce4195e7e34b0f63d51e5d6277860c396c43d.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.for-all-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: -118px;
  left: 618px;
  color: #967d60;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47.96px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.rectangle-11 {
  position: absolute;
  width: 1280px;
  height: 76px;
  top: 757px;
  left: 0;
  background: url(./assets/images/45e10710-1d46-4517-b446-b1511557f078.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}