
.rectangle-1 {
  display: flex;
  align-items: center; /* Alinha verticalmente os itens dentro do retângulo */
  flex-grow: 1; /* Permite que o retângulo 1 ocupe o espaço disponível */
}

.auth-buttons {
  margin-left: auto; /* Empurra os botões para a direita */
}

.auth-buttons {
  margin-left: 10px; /* Espaço entre os botões */
  padding: 10px 15px; /* Estilo dos botões */
}

.auth-buttons button:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}
.login-register {
  margin-left: auto;
}