
    :root {
  --variable-collection-color: rgba(255, 255, 255, 1);
  --variable-collection-color-2: rgba(34, 32, 42, 1);
  --variable-collection-color-3: var(--variable-collection-color);
  --variable-collection-color-4: rgba(217, 217, 217, 1);
}

    .procurar-emprego {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.procurar-emprego .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1280px;
  height: 888px;
  position: relative;
}

.procurar-emprego .slice {
  position: absolute;
  width: 1280px;
  height: 888px;
  top: 0;
  left: 0;
}

.procurar-emprego .rectangle {
  position: absolute;
  width: 1280px;
  height: 76px;
  top: 0;
  left: 0;
  background-color: #22202a;
}

.procurar-emprego .rectangle-2 {
  position: absolute;
  width: 1280px;
  height: 58px;
  top: 76px;
  left: 0;
  background-color: #473d3b;
}

.procurar-emprego .rhlogo-removebg {
  top: 7px;
  left: 7px;
  position: absolute;
  width: 61px;
  height: 61px;
  object-fit: cover;
}

.procurar-emprego .text-wrapper {
  position: absolute;
  top: 12px;
  left: 77px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.procurar-emprego .text-wrapper-2 {
  position: absolute;
  top: 23px;
  left: 201px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #967d60;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .rectangle-3 {
  position: absolute;
  width: 112px;
  height: 48px;
  top: 14px;
  left: 1154px;
  background-color: #473d3b;
  border-radius: 10px;
  border: 1px solid;
}

.procurar-emprego .rectangle-4 {
  position: absolute;
  width: 112px;
  height: 48px;
  top: 13px;
  left: 1032px;
  background-color: #967d60;
  border-radius: 10px;
  border: 1px solid;
  border-color: #473d3b;
}

.procurar-emprego .text-wrapper-3 {
  position: absolute;
  top: 24px;
  left: 1167px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #22202a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.procurar-emprego .text-wrapper-4 {
  position: absolute;
  top: 24px;
  left: 1062px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #22202a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.procurar-emprego .rectangle-5 {
  position: absolute;
  width: 1179px;
  height: 175px;
  top: 206px;
  left: 51px;
  background-color: #e5e5ec;
  border-radius: 20px;
}

.procurar-emprego .p {
  position: absolute;
  top: 156px;
  left: 52px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #22202a;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .group {
  position: absolute;
  width: 133px;
  height: 34px;
  top: 88px;
  left: 37px;
}

.procurar-emprego .text-wrapper-5 {
  position: absolute;
  top: 5px;
  left: 39px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.procurar-emprego .removebg-preview {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.procurar-emprego .text-wrapper-6 {
  position: absolute;
  width: 506px;
  top: 230px;
  left: 70px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-7 {
  position: absolute;
  width: 506px;
  top: 299px;
  left: 70px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-8 {
  position: absolute;
  width: 506px;
  top: 326px;
  left: 70px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-9 {
  position: absolute;
  width: 506px;
  top: 273px;
  left: 70px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .rectangle-6 {
  position: absolute;
  width: 1179px;
  height: 175px;
  top: 612px;
  left: 51px;
  background-color: #e5e5ec;
  border-radius: 20px;
}

.procurar-emprego .text-wrapper-10 {
  top: 636px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-11 {
  top: 705px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-12 {
  top: 732px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-13 {
  top: 679px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .rectangle-7 {
  position: absolute;
  width: 1179px;
  height: 175px;
  top: 410px;
  left: 51px;
  background-color: #e5e5ec;
  border-radius: 20px;
}

.procurar-emprego .text-wrapper-14 {
  top: 434px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-15 {
  top: 503px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-16 {
  top: 530px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .text-wrapper-17 {
  top: 477px;
  position: absolute;
  width: 506px;
  left: 73px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #473d3b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .img {
  position: absolute;
  width: 1280px;
  height: 69px;
  top: 819px;
  left: 0;
}

.procurar-emprego .group-2 {
  position: absolute;
  width: 188px;
  height: 61px;
  top: 827px;
  left: 547px;
}

.procurar-emprego .rhlogo-removebg-2 {
  top: 0;
  left: 0;
  position: absolute;
  width: 61px;
  height: 61px;
  object-fit: cover;
}

.procurar-emprego .text-wrapper-18 {
  top: 6px;
  left: 71px;
  position: absolute;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #967d60;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.procurar-emprego .group-3 {
  position: absolute;
  width: 191px;
  height: 34px;
  top: 88px;
  left: 192px;
}

.procurar-emprego .overlap-group-wrapper {
  position: absolute;
  width: 209px;
  height: 54px;
  top: 641px;
  left: 1003px;
}

.procurar-emprego .overlap-group {
  position: relative;
  width: 207px;
  height: 54px;
  border-radius: 10px;
}

.procurar-emprego .rectangle-8 {
  position: absolute;
  width: 207px;
  height: 54px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.procurar-emprego .text-wrapper-19 {
  position: absolute;
  width: 168px;
  top: 12px;
  left: 19px;
  font-family: "Inria Serif-Bold", Helvetica;
  font-weight: 700;
  color: #967d60;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.procurar-emprego .overlap-wrapper {
  position: absolute;
  width: 209px;
  height: 54px;
  top: 231px;
  left: 1003px;
}

.procurar-emprego .div-wrapper {
  position: absolute;
  width: 209px;
  height: 54px;
  top: 435px;
  left: 1003px;
}

.procurar-emprego .overlap {
  position: absolute;
  width: 1280px;
  height: 76px;
  top: -1502px;
  left: -1018px;
  background-image: url(./img/rectangle-37.svg);
  background-size: 100% 100%;
}

.procurar-emprego .rhlogo-removebg-3 {
  top: 8px;
  left: 547px;
  position: absolute;
  width: 61px;
  height: 61px;
  object-fit: cover;
}

.procurar-emprego .text-wrapper-20 {
  top: -119px;
  left: 618px;
  position: absolute;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #967d60;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}