.sobre-nos{
  justify-items: center;

}
.for-all-title{
  display: flex;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.image-circle{
  width: 57px;
  height: 57px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}
h1{
  color: #22202A;
  font-family: "Inria Serif";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h2{
  color: #967D60;
  font-family: "Inria Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}